@model ExampleLinkShortener.DataAccess.Entities.Project

@{ ViewBag.Title = "Добавление нового проекта"; }

<form asp-action="CreateProject" asp-controller="PanelUser">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Название проекта</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    @*<div class="form-group">
            <label asp-for="LinkName" class="control-label">LinkName - добавьте название ссылки</label>
            <input type="text" asp-for="LinkName" class="form-control" />
        </div>*@

    @*<div class="form-group">
        <label asp-for="ProjectId" class="control-label">ProjectId - добавьте название проекта</label>
            <input type="number" asp-for="ProjectId" class="form-control" />
        </div>*@
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>
