@model ExampleLinkShortener.DataAccess.Entities.UserLink

@{ ViewBag.Title = "Редактирование ссылки"; }

<form asp-action="EditLink" asp-controller="PanelUser">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="UserId" />
    </div>
    <div class="form-group">
        <label asp-for="Link" class="control-label">Ссылка</label>
        <input type="text" asp-for="Link" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LinkName" class="control-label">Новое название ссылки</label>
        <input type="text" asp-for="LinkName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LinkCode" class="control-label">Короткая ссылка</label>
        <input type="text" asp-for="LinkCode" class="form-control" />
    </div>

    <hr class="my-4">

    <h6 class="mb-3">Сделать ссылку неактивной/активной</h6>

    <div class="my-3">
        <div class="form-check">
            <input type="radio" asp-for="IsActive" value="True"  class="form-check-input" >
            <label asp-for="IsActive" class="form-check-label" value="True">Активная</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="IsActive" value="False" class="form-check-input" >
            <label asp-for="IsActive" class="form-check-label" value="False">Неактивная</label>
        </div>

    </div>


    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>
